@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.rounded-image {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  border: 0.0625rem solid #ccc;
  padding: 0.3125rem;
}
.four-item {
  height: 9.375rem;
}
.four-item-text {
  width: 15.625rem;
  padding-right: 1.25rem;
  overflow-wrap: break-word;
}
